/* No seu arquivo CSS */
.ant-select-multiple .ant-select-selection-overflow {
    position: relative;
    display: flex;
    flex: auto;
    flex-wrap: wrap; /* Altera o comportamento de flex-wrap */
    max-width: 100%;
    padding: 10px; /* Altera o padding */
  }
  
 

.PassTit{
    color: var(--grey-text-dark, #020617);
    font-family: Lexend;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: 130%; /* 2.6rem */
    max-width: 30ch;
}


.user{
    cursor: pointer;
    font-size: 5rem;
}


.tudo{
    position: relative;
}

.back{
    background: #b3b3b3;
}

.sombra {
    filter: brightness(0.7);
}

@keyframes animeAdc {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.containAdc {
    top: 50%;
    left: 50%;
    position: absolute;
    z-index: 1;
    animation: animeAdc 1s ease-in-out forwards;
    transform: translate(-50%, -50%); 
}

.FormAdc{
    height: 100%;
    width: 100%;
    background: #fff;
    border-radius: 0.9375rem;
    padding: 10px 40px;
}

.FormAdc label{
    color: var(--grey-text-dark, #020617);
    font-family: Lexend;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 1.6rem */
}

.titAdc{
    color: var(--grey-text-dark, #020617);
    text-align: center;
    font-family: Lexend;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 2.25rem */
}

.gr1, .gr2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}


@keyframes growTo16 {
    from {
        width: 0%;
    }
    to {
        width: 16.666666%;
    }
}

@keyframes growTo32 {
    from {
        width: 16.666666%;
    }
    to {
        width: 33.333333%;
    }
}

@keyframes growTo32antes {
    from {
        width: 33.333333%;
    }
    to {
        width: 16.666666%;
    }
}

@keyframes growTo48 {
    from {
        width: 33.333333%;
    }
    to {
        width: 50%;
    }
}

@keyframes growTo48antes {
    from {
        width: 50%;
    }
    to {
        width: 33.333333%;
    }
}

@keyframes growTo64 {
    from {
        width: 50%;
    }
    to {
        width: 66.666666%;
    }
}

@keyframes growTo64antes {
    from {
        width: 66.666666%;
    }
    to {
        width: 50%;
    }
}

@keyframes growTo80 {
    from {
        width: 66.666666%;
    }
    to {
        width: 83.333333%;
    }
}

@keyframes growTo80antes {
    from {
        width: 83.333333%;
    }
    to {
        width: 66.666666%;
    }
}

@keyframes growTo96 {
    from {
        width: 83.333333%;
    }
    to {
        width: 100%;
    }
}

@keyframes growTo96antes {
    from {
        width: 100%;
    }
    to {
        width: 83.333333%;
    }
}



.Azul16 {
    height: 2px;
    background: #3B82F6;
    animation: growTo16 1s ease-in-out forwards;
}

.Azul16antes{
    height: 2px;
    background: #3B82F6;
    animation: growTo16antes 1s ease-in-out forwards;
}

.Azul32 {
    height: 2px;
    background: #3B82F6;
    animation: growTo32 1s ease-in-out forwards;
}


.Azul32antes{
    height: 2px;
    background: #3B82F6;
    animation: growTo32antes 1s ease-in-out forwards;
}

.Azul48 {
    height: 2px;
    background: #3B82F6;
    animation: growTo48 1s ease-in-out forwards;
}

.Azul48antes{
    height: 2px;
    background: #3B82F6;
    animation: growTo48antes 1s ease-in-out forwards;
}

.Azul64 {
    height: 2px;
    background: #3B82F6;
    animation: growTo64 1s ease-in-out forwards;
}


.Azul64antes{
    height: 2px;
    background: #3B82F6;
    animation: growTo64antes 1s ease-in-out forwards;
}

.Azul80 {
    height: 2px;
    background: #3B82F6;
    animation: growTo80 1s ease-in-out forwards;
}


.Azul80antes{
    height: 2px;
    background: #3B82F6;
    animation: growTo80antes 1s ease-in-out forwards;
}


.Azul96 {
    height: 2px;
    background: #3B82F6;
    animation: growTo96 1s ease-in-out forwards;
}


.Azul96antes{
    height: 2px;
    background: #3B82F6;
    animation: growTo96antes 1s ease-in-out forwards;
}





.animate{
    position: relative;
    animation: fadeIn 1s ease-in-out forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: scale(0.9);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.func{
    color: var(--grey-text-light, #64748B);
    font-family: Lexend;
    font-size: 0.85rem;
    font-style: normal;
    font-weight: 300;
    line-height: 130%; /* 1.625rem */
    max-width: 60ch;
}

.select-wrapper2{
    position: relative;
}


.icondown{
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    pointer-events: none;
    color: #333;
    font-size: 36px;
}


.PassPar{
    color: var(--grey-text-light, #64748B);
    font-family: Lexend;
    font-size: 0.85rem;
    font-style: normal;
    font-weight: 300;
    line-height: 130%; /* 1.625rem */
    max-width: 60ch;
}

.PassTitEmp{
    color: var(--grey-text-dark, #020617);
    font-family: Lexend;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: 130%; /* 2.6rem */
    max-width: 42ch;
}

.PassTitEmp2{
    color: var(--grey-text-dark, #020617);
    font-family: Lexend;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: 130%; /* 2.6rem */
    max-width: 35ch;
}



.PassPar3Empresa{
    color: var(--primary-500, #3B82F6);
    font-family: Lexend;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 32px */
    margin-top: 10px;
}

.PassPar3Empresa2{
    color: var(--grey-text-light, #64748B);
font-family: Lexend;
font-size: 0.90rem;
font-style: normal;
font-weight: 300;
line-height: 130%; /* 26px */
}

.func2{
    color: var(--grey-text-light, #64748B);
font-family: Lexend;
font-size: 1rem;
font-style: normal;
font-weight: 400;
line-height: 130%; /* 26px */
}

.lista-emp{
    margin-top: 20px;
    list-style-type: disc;
}

.lista-emp li{
    color: var(--grey-text-light, #64748B);
    font-family: Lexend;
    font-size: 0.95rem;
    font-style: normal;
    font-weight: 300;
    line-height: 160%;
    margin-left: 15px;
}

.PassTit2{
    color: var(--grey-text-dark, #020617);
    font-family: Lexend;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: 130%; /* 2.6rem */
    max-width: 40ch;
}

.conteudo{
    display: relative;
}


.txAreaEmp{
    max-width: 380px;
    padding: 20px;
    border-radius: 15px;
    border: 1px solid var(--grey-border, #E2E8F0);
    color: var(--grey-text-light, #000);
    font-family: Lexend;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 160%; /* 22.4px */
}

.txAreaEmp::placeholder{
    color: var(--grey-text-light, #64748B);
    font-family: Lexend;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: 160%; /* 22.4px */
}


.titArea{
    color: var(--grey-text-light, #3B82F6);
    font-family: Lexend;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 300;
    line-height: 130%; /* 0.975rem */
}

.subAreaEmp{
    color: var(--grey-text-light, #64748B);
    font-family: Lexend;
    font-size: 0.70rem;
    font-style: normal;
    font-weight: 300;
    line-height: 130%; /* 0.975rem */
}

.PassPar2{
    color: var(--grey-text-light, #64748B);
    font-family: Lexend;
    font-size: 0.85rem;
    font-style: normal;
    font-weight: 300;
    line-height: 130%; /* 1.625rem */
    max-width: 65ch;
}



.lin{
    width: calc(100% - 4rem) !important;
    height: 40px !important;
}

.lin2{
    max-width: 500px !important;
    height: 40px !important;
}

.lin2edit{
    width: 100%;
    height: 40px !important;
    
}

.tagSelect{
    color: var(--grey-disable-color, #94A3B8);
font-family: Lexend;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 160%; /* 19.2px */
}

.lin2editarea{
    width: 100%;
    height: max-content;
    padding: 20px;
    border-radius: 15px;
    border: 1px solid var(--grey-border, #E2E8F0);
    color: var(--grey-text-light, #000);
    font-family: Lexend;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 160%; /* 22.4px */
    
}


.containerEmpresa{
    animation: animaCont 1s ease-out forwards;
}


.btnProximo{
    right: 0px;
    bottom: 0px;
    position: absolute;
}

.cxCinza{
    width: calc(100% - 8rem);
    height: 2px;
    background: #fff;
}

.expTit{
    color: var(--primary-500, #3B82F6);
font-family: Lexend;
font-size: 1rem;
font-style: normal;
font-weight: 400;
line-height: 110%; /* 1.1rem */
}

.expTitPr{
    color: var(--grey-text-light, #64748B);
font-family: Lexend;
font-size: 0.85rem;
font-style: normal;
font-weight: 400;
line-height: 130%; /* 1.625rem */
}

.bord{
    border-radius: 0.9375rem;
border: 2px solid var(--grey-300, #CBD5E1);
}

.tudoExp{
    position: absolute;
    bottom: 110px;
}

.descAdc{
    color: var(--grey-text-light, #64748B);
    font-family: Lexend;
    font-size: 0.85rem;
    font-style: normal;
    font-weight: 300;
    line-height: 130%; /* 1.625rem */
    width: 100%;
    height: 100px;
    word-wrap: break-word; 
}

#cidade, #estado{
    padding-left: 15px;
    height: 40px;
    width: 100%;
    padding-top: 0px;
    padding-bottom: 0px;
    font-family: Lexend;
    font-size: 1rem;
    font-style: normal;
    font-weight: 300;
    line-height: 130%; /* 1.625rem */   
    border-radius: 8px;
    border: 1px solid var(--grey-300, #CBD5E1);
    

  appearance: none; /* Remove the default dropdown arrow */
  -webkit-appearance: none; /* Remove the default dropdown arrow for Safari */
  -moz-appearance: none; /* Remove the default dropdown arrow for Firefox */
}

#inicio, #fim{
    padding-left: 15px;
    padding-right: 13px !important;
}

.data{
    width: 100%;
}

#area{
    border: 1px solid #E2E8F0;
    padding: 10px;
    border-radius: 15px;
}

#area2{
    padding: 10px;
    border-radius: 15px;
    border: 1px solid var(--grey-border, #E2E8F0);
}

#area3{
    padding: 10px;
    border-radius: 15px;
}

.input-editar{
    position: relative;
}

.icon-pen{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    color: #3B82F6;
}

.icon-pen2{
    position: absolute;
    bottom: 20%;
    right: 20px;
    color: #3B82F6;
}

.conteiner-editar span{
    margin-bottom: -10px;
}

.conteiner-editar input {
    color: var(--grey-disable-color, #94A3B8);
font-family: Lexend;
font-size: 16px;
font-style: normal;
font-weight: 300;
line-height: 160%; /* 25.6px */
}


.PassParEmp{

    color: var(--grey-text-light, #64748B);
    font-family: Lexend;
    font-size: 0.85rem;
    font-style: normal;
    font-weight: 300;
    line-height: 130%; /* 1.625rem */
    max-width: 60ch;
}

.pd2{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.PassTit4{
   color: var(--grey-text-dark, #020617);
    font-family: Lexend;
    font-size: 1.20rem;
    font-style: normal;
    font-weight: 500;
    line-height: 130%; /* 2.6rem */
    
}



.PassPar4{
    color: var(--grey-text-light, #64748B);
    font-family: Lexend;
    font-size: 0.70rem;
    font-style: normal;
    font-weight: 300;
    line-height: 130%; /* 1.625rem */
    max-width: 60ch;
}

.input-requisits{
    border: 2px solid rgb(226, 232, 240);
    border-radius: 14px;
    outline: none;
}

.span-requirements{
    color: var(--grey-disable-color, #94A3B8);
  font-family: Lexend;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}

.caixa-input{
    display: grid;
    grid-template-columns: repeat(2, minmax(200px, 1fr));
    gap: 1rem;
    padding-right: 4rem;
}


/* Estilizando o placeholder do Select */
.ant-select-selection-placeholder {
    color: var(--grey-disable-color, #9ca3af);
    font-family: 'Lexend';
    font-size: 1rem;
    font-weight: 350;
    line-height: 160%;
  }
  

@media(max-width: 1110px){
    .lista-emp li{
        font-size: 0.85rem;
    }
}

@media(max-width: 1065px){
    .lista-emp li{
        font-size: 0.75rem;
    }
}

@media(max-width: 1015px){
    .ctnLista{
        display: none;
    }   

    .pd2{
        grid-template-columns: auto;
    }

    .ctnArea{
        margin-top: 40px;
    }

}

@media(max-width: 610px){
    .PassTitEmp{
        font-size: 1.25rem;
    }

    .PassParEmp{
        font-size: 0.65rem;
    }

    .PassTitEmp2{
        font-size: 1.25rem;
        max-width: 22ch !important;
    }
}


@media(max-width: 375px){
    .PassTitEmp2{
        font-size: 1.12rem;
    }
}

@media(max-width: 535px){

    .PassTitEmp{
        max-width: 20ch;
    }

    .PassParEmp{
        font-size: 0.65rem;
    }
}


@media(max-width: 940px){
    .txArea{
        display: none;
    }
}

@media(max-width: 735px){
    .cx{
        margin-bottom: 10rem !important;
        place-self: center;
        padding-left: 2rem !important;
        padding-right: 2rem !important;
    }

    .pd2{
        
        padding-left: 2rem !important;
        padding-right: 2rem !important;
    }
}


@media(max-width: 655px){

.m{
    margin-right: 0px !important;
}

.PassTit3, .PassTit4{
    color: var(--grey-text-dark, #020617);
    font-family: Lexend;
    font-size: 1.20rem;
    font-style: normal;
    font-weight: 500;
    line-height: 130%; /* 2.6rem */
    
}



.PassPar3, .PassPar4{
    color: var(--grey-text-light, #64748B);
    font-family: Lexend;
    font-size: 0.70rem;
    font-style: normal;
    font-weight: 300;
    line-height: 130%; /* 1.625rem */
    max-width: 60ch;
}
}

@media(max-width: 625px){

    .PassPar{
        color: var(--grey-text-light, #64748B);
        font-family: Lexend;
        font-size: 0.70rem;
        font-style: normal;
        font-weight: 300;
        line-height: 130%; /* 1.625rem */
        max-width: 60ch;
    }

    .PassTit{
        color: var(--grey-text-dark, #020617);
        font-family: Lexend;
        font-size: 1.25rem;
        font-style: normal;
        font-weight: 500;
        line-height: 130%; /* 2.6rem */
        max-width: 30ch;
    }

    .PassTit2{
        color: var(--grey-text-dark, #020617);
        font-family: Lexend;
        font-size: 1.25rem;
        font-style: normal;
        font-weight: 500;
        line-height: 130%; /* 2.6rem */
        max-width: 40ch;
    }

    
    
    .PassPar2{
        color: var(--grey-text-light, #64748B);
        font-family: Lexend;
        font-size: 0.70rem;
        font-style: normal;
        font-weight: 300;
        line-height: 130%; /* 1.625rem */
        max-width: 60ch;
    }
}




@media(max-width: 620px){

    .FormAdc{
        height: 100%;
        width: 500px !important;
        background: #fff;
        border-radius: 0.9375rem;
        padding: 10px 40px;
        margin: 0 auto;
    }

    #area{
        height: 80px !important;
    }

}


@media(max-width: 550px){

    .titAdc{
        font-size: 1.25rem;
    }

    .FormAdc{
        height: 100%;
        width: 400px !important;
        background: #fff;
        border-radius: 0.9375rem;
        padding: 10px 40px;
        margin: 0 auto;
    }

    #area{
        height: 90px !important;
    }

    .data{
        font-size: 0.75rem !important;
        padding-left: 10px;
    }
    
    .pdl{
        padding-left: 10px !important;
    }

    #inicio, #fim{
        padding-right: 10px;
    }

}

@media(max-width: 580px){

.contProx{
    flex-direction: column;
    align-items: center;
}

.order1{
    order: 2;
}


.order2{
    order: 1;
}

.btnRespEmp{
    width: 100% !important;
}

.proxEmp{
    width: 100%;
}


}


@media(max-width: 536px){

    .contProx{
        margin-top: 100px !important;
    }


.proxEmp{
    width: 100%;
}

    
}



@media(max-width: 470px){
    .contProx{
        padding-left: 2rem !important;
        padding-right: 2rem !important;
    }
}

@media(max-width: 430px){

    .titAdc{
        font-size: 0.85rem;
        margin-top: 10px;
    }

    .FormAdc{
        margin-top: -20px !important;
        height: 650px;
        width: 350px !important;
        background: #fff;
        border-radius: 0.9375rem;
        padding: 10px 40px;
        margin: 0 auto;
    }

    #area{
        height: 60px !important;
        font-size: 0.75rem;
    }

    #area2{
        height: 100px !important;
        font-size: 0.75rem;
    }

    .gr2{
        grid-template-columns: auto;
    }

    .ct{
        place-self: center;
    }

    .FormAdc label{
        font-size: 0.75rem !important;
    }

    ::placeholder{
        font-size: 0.75rem !important;
    }

    #cidade, #estado{
        font-size: 0.75rem !important;
    }
    

}

@media(max-width: 500px){
    .cx{
        flex-direction: column;
    }
}

@media(max-width: 470px){
    .pd{
        padding-left: 2rem !important;
        padding-right: 2rem !important;
    }

    .cx-sel{
        max-width: 100% !important;
    }

    .lin{
        width: 100% !important;
    }

    .lin::placeholder{
        font-size: 0.74rem;
    }

    .btnProximo{
        right: -2rem !important;
        bottom: 0px;
        position: absolute;
    }
}

@media(max-width: 370px){
    #area2{
        height: 80px !important;
        font-size: 0.75rem; 
    }
}


@media(max-width: 380px){
    .PassTit4{
        color: var(--grey-text-dark, #020617);
        font-family: Lexend;
        font-size: 1rem;
        font-style: normal;
        font-weight: 500;
        line-height: 130%; /* 2.6rem */
        max-width: 40ch;
    }
}

@media(max-width: 365px){
    .PassTit3{
        color: var(--grey-text-dark, #020617);
        font-family: Lexend;
        font-size: 1rem;
        font-style: normal;
        font-weight: 500;
        line-height: 130%; /* 2.6rem */
        max-width: 40ch;
    }

    .PassPar3Empresa2{
        font-size: 0.80rem;
    }
}



