.containerTal {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    max-width: 90vw;
    margin: 0 auto;
    margin-top: 40px;
    gap: 100px;
}


.title {
    color: var(--grey-text-light, #64748B);
    text-align: center;
    font-family: Lexend;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 32px */
}

.container-vagas {
    border-radius: 15px;
    border: 1px solid var(--grey-border, #E2E8F0);
    background: var(--white, #FFF);
    padding: 18px 27px 18px 27px;
}

.span-title {
    color: var(--blackclear, #202020);
    font-family: Lexend;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 160%; /* 25.6px */
}

.span-empresa {
    color: var(--primary-500, #3B82F6);
    font-family: Lexend;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 19.2px */
    text-transform: uppercase;
}

.span-description{
    color: var(--grey-text-light, #64748B);
font-family: Lexend;
font-size: 1rem;
font-style: normal;
font-weight: 300;
line-height: 160%; /* 19.2px */
}

.caixa-tags{
    display: flex;
    gap: 5px;
}

.span-tag {
    color: var(--grey-text-light, #64748B);
    font-family: Lexend;
    font-size: 1rem;
    font-style: normal;
    font-weight: 300;
    line-height: 160%; /* 19.2px */
    border-radius: 20px;
    background: var(--grey-100, #F1F5F9);
    padding: 5px 15px;
}

.span-localiza{
    color: var(--grey-text-light, #64748B);
font-family: Lexend;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 160%; /* 19.2px */
}

.span-req {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 30px;
    width: 500px;
    overflow-x: scroll; /* Permite rolagem horizontal */
    -webkit-overflow-scrolling: touch; /* Suporte a rolagem suave em dispositivos de toque */
    scrollbar-width: none; /* Oculta a barra de rolagem no Firefox */
}

.span-req::-webkit-scrollbar {
    display: none; /* Oculta a barra de rolagem no Chrome, Safari e Opera */
}

.req {
    border-radius: 20px;
    background: var(--grey-100, #F1F5F9);
    padding: 10px;
    color: #94A3B8;
}


.nome-perfil{
    color: var(--grey-text-dark, #020617);
font-family: Lexend;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: 150%; /* 30px */
}

.container-perfil{
    border-radius: 16px;
    border: 1px solid var(--grey-border, #E2E8F0);
    background: var(--Color, #FFF);
    height: calc(max-content + '5px');
    padding: 20px 5px;
}


.titulo-perfil{
    color: var(--grey-700, #334155);
font-family: Lexend;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 21px */
}