.EscPar2{
    color: var(--grey-text-light, #64748B);
    font-family: Lexend;
    font-size: 0.85rem;
    font-style: normal;
    font-weight: 300;
    line-height: 130%; /* 1.625rem */
    max-width: 40ch;
    text-align: center;
}

@media(max-width: 1060px){
    .imgTalento{
        display: none;
    }

    .container{
        max-width: 34rem !important;
    }

    .containerLogo{
        max-width: 34rem !important;
    }
}






@media(max-width: 430px){
    .EscPar2{
        max-width: 30ch;
    }    
}


