@media(max-width: 1060px){
    .imgTalento{
        display: none;
    }

    .containerLogo{
        max-width: 34rem !important;
    }
}


@media(max-width: 550px){
    
    .s{
        font-size: 0.80rem !important;
    }

    .nameSob, .senhaCon{
        gap: 1rem;
    }
}



@media (max-width: 470px) {
    #confirmarSenha::placeholder {
      content: 'Confirmar';
    }
  }