.menuHamb {
    display: none;
    cursor: pointer;
  }

  .LogoResp{
    display: none;
  }

  .dropList{
    margin-top: 5px;
}

.novaCor{
  color: #0866FF;
}


.menuDrop{
  width: 90vw;
  z-index: 1;
  position: absolute;
  padding: 40px;
  background: #fff;
  border-top: 1px solid #E2E8F0;
  animation: animaDrop 0.5s ease forwards;
}

@keyframes animaDrop {
  from {
    transform: translateY(-20px);
    opacity: 0; 
  }
  to {
    transform: translateY(0); 
    opacity: 1;
  }
}

.DropH1{
  color: var(--primary-500, #3B82F6);
  font-family: Lexend;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.25rem; /* 142.857% */
}

.DropP{
  color: var(--grey-text-light, #64748B);
  font-family: Lexend;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1.25rem; /* 166.667% */
}



@media (max-width: 1200px) {
  .navbar{
    border-radius: 0px !important;
    width: 100vw !important;
  }

  .menuDrop{
    width: 100vw;
    z-index: 1;
    position: absolute;
    padding: 40px;
    background: #fff;
    border-top: 1px solid #E2E8F0;
  }
  
}

  @media (max-width: 780px) {

    .Logo{
      display: none;
    }

    .menuDrop{
      display: none;
    }

    .LogoResp{
      display: flex;
      width: 2rem;
      margin-left: 3rem;
    }

    .menu{
      animation: apareceMenu ease 0.5s;
      height: calc(100vh - 100px);
    }

    @keyframes apareceMenu {
      to{
        transform: translateX(0);
      }
      from{
        transform: translateX(100%);
      }
    }

    .links {
      display: none !important;
    }
  
    .buttons {
      display: none !important;
    }

    
    .dropList{
      font-size: 2rem;
    }
  
.menuHamb {
  display: flex;
  flex-direction: column;
  width: 25px;
  margin-bottom: 7px;
}

.menuHamb .line {
  margin-top: 6px !important;
  background: #000;
  height: 2px;
  width: 100%;
  transition: all 0.5s ease-out;
}

.menuHamb .clicked:nth-child(1) {
  transform: rotate(45deg) translate(6px, 5px);
}

.menuHamb .clicked:nth-child(2) {
  transform: rotate(45deg) translate(0.5px, -0.5px);
}

.menuHamb .clicked:nth-child(3) {
  transform: rotate(-45deg) translate(6.5px, -5px);
}

.menuHamb .unclicked:nth-child(1) {
  transform: rotate(0) translate(0);
}

.menuHamb .unclicked:nth-child(2) {
  transform: rotate(0) translate(0);
}

.menuHamb .unclicked:nth-child(3) {
  transform: rotate(0) translate(0);
}

  }

  
  @media (max-width: 630px) {
    .dropList{
      font-size: 1.5rem;
      margin-right: 25px;
    }
  }


 
  @media (max-width: 500px) {
    .link a{
      font-size: 1rem !important;
    }
  }