.Container{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    width: 90vw;
    margin: 0 auto;
}

.perEmp{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    background-color: #334155;
    border-radius: 50%;
}

.modalConfigura{
    display: flex;
    gap: 7px;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border: 1px solid #E2E8F0;
    padding: 1rem;
    border-radius: 1rem;
}


.linha{
    background: #e2e2e2;
    width: 90%;
    height: 2px;
}