.scr{
    height: calc(100vh - 100px);
}

.br{
    width: 520px;
    height: 550px;
    border: 1px solid transparent;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0px 50px 15px 0px rgba(0, 0, 0, 0.00), 
            0px -50px 15px 0px rgba(0, 0, 0, 0.00), 
            0px 30px 12px 0px rgba(0, 0, 0, 0.01), 
            0px -30px 12px 0px rgba(0, 0, 0, 0.01), 
            0px 15px 9px 0px rgba(0, 0, 0, 0.05), 
            0px -15px 9px 0px rgba(0, 0, 0, 0.05), 
            0px 7px 7px 0px rgba(0, 0, 0, 0.09), 
            0px -7px 7px 0px rgba(0, 0, 0, 0.09), 
            0px 3px 4px 0px rgba(0, 0, 0, 0.10), 
            0px -3px 4px 0px rgba(0, 0, 0, 0.10);
    padding: 80px 40px;
}


.Eye{
    position: absolute;
    color: rgb(198, 198, 198);
    cursor: pointer;
    font-size: 1.25rem;
    right: 20px;
    bottom: 10px;
}

.titSenha{
    font-family: Lexend;
    font-size: 2rem;
}

.subSenha{
    font-family: Lexend;
}


.subSenha2{
    font-family: Lexend;
    max-width: 50ch;
}

.env{
    color: #1D4ED8;
}

.cancel{
    font-family: Lexend;
    cursor: pointer;
}