@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    overflow-x: hidden;
    height: 100dvh !important;
        /* Para ajustar o preenchimento e evitar sobreposição */
        padding-top: env(safe-area-inset-top);
        padding-bottom: env(safe-area-inset-bottom);
        padding-left: env(safe-area-inset-left);
        padding-right: env(safe-area-inset-right);
    
      
}